<div class="container-fluid" ng-controller="GroupCtrl">
  <div class="row-fluid">

    <div class="span3">

      <h1>{{group.name}}</h1>

    </div>

    <div class="span9">

      <ul class="nav nav-tabs nav-stacked">
        <li ng-repeat="item in group.members" class="listitem">
          <a href="{{getItemUrl(item)}}">
            <i class="icon icon-chevron-right" ng-show="isGroup(item)"></i>
            <i class="icon icon-list" ng-show="isMetric(item)"></i>
            <span class="">{{item.name}}</span>       
          </a>
        </li>
      </ul>

    </div>

  </div>
</div>
